caca.cpp
cmake-build-debug
*.o
.idea
CMakeLists.txt
        caca.so

cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/
.vscode/settings.json
